html, body {
  color: rgba(0, 0, 0, 0.87);
  background: white;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
}

head {
  display: inline;
}

title {
  display: block;
  margin: 1rem auto;

  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

title::before,
title::after {
  content: ' · ';

  color: #ccc;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2%;

  overflow: auto;
}

article + article {
  margin-top: .5rem;
}

details {
  padding-left: 1rem;
}

details > summary {
  font-size: 1.2rem;

  margin-left: -1rem;

  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: '+';

  display: inline-block;
  width: 1.5rem;
  margin-right: .5rem;

  font-weight: normal;
  text-align: center;
}

details[open] > summary {
  margin-bottom: .5rem;
}

details[open] > summary::before {
  content: '-';
}

time {
  color: #999;
}

ol {
  margin: 0 0 2rem;
  padding: 0 0 0 3rem;

  list-style: decimal-leading-zero;

  display: flex;
  flex-flow: column-reverse;
}

li {
  color: #666;
  font-size: 1.2rem;
}

li a:first-child {
  font-size: 1.6rem;
}

li + li {
  margin-top: .2rem;
}

a {
  transition: color linear .35s;
}

a:link {
  color: #0074D9;
}

a:visited {
  color: #85144b;
}

a:hover {
  transition: color linear .05s;

  color: #001f3f;
}
