html, body {
  background: white;
  color: rgba(0, 0, 0, 0.87);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}

head {
  display: inline;
}

title {
  display: block;
  margin: 1rem auto;

  font-family: inherit;

  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

title::before {
  content: ' · ';

  color: #ccc;
}

title::after {
  content: ' · tom’s daily digest · ';

  color: #ccc;
}

body {
  max-width: 96rem;
  margin: 0 auto;
  padding: 2%;

  overflow: auto;
}

header {
  /*text-align: right;*/
  margin-bottom: 2rem;
  padding: .25rem 1rem .5rem;
  border-bottom: 1px solid #eee;

  line-height: 2;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

header .info {
  margin-right: 1rem;
}

header .info > span {
  display: inline-block;
  line-height: 1.5;
}

header .info > span:nth-child(n+1):not(:last-child)::after {
  content: ';';
}

header .controls {
  text-align: right;
}

header .controls a {
  margin: 0 .25rem;
  text-decoration: none;

  display: inline-block;
  line-height: 1.5;
}

article + article {
  margin-top: .5rem;
}

/*article:nth-child( odd ) > details[open] {
  background: #eee;
}*/

details {
  padding-left: 1rem;
}

details > summary {
  font-size: 1.2rem;

  margin-left: -1rem;

  cursor: pointer;
  padding: .4rem 0;

  display: inline-block;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: '+';

  display: inline-block;
  width: 1.3em;
  margin-right: .5em;

  font-weight: normal;
  text-align: center;
}

details[open] > summary {
  margin-bottom: .5rem;
}

details[open] > summary::before {
  content: '-';
}

time {
  color: #999;
}

time[datetime]::after {
  content: ', ' attr(datetime);
}

ol {
  margin: 0 0 3rem;
  padding: 0 0 0 3rem;

  list-style: decimal-leading-zero;

  display: flex;
  flex-flow: column-reverse;
}

li {
  color: #666;
  font-size: 1.4rem;
}

li a:first-child {
  font-size: 1.6rem;
}

li + li {
  margin-top: .2rem;
}

a {
  transition: color linear .35s;
}

a:link {
  color: #0074D9;
}

a:visited {
  color: #85144b;
}

a:hover {
  transition: color linear .05s;

  color: #001f3f;
}

a::before {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: .25em;
  vertical-align: -.2ex;

  opacity: .3;
}

a[href^="https://github.com"]::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M512 0C229.3 0 0 229.3 0 512c0 226.3 146.7 418 350.2 485.8 25.5 4.7 35-11 35-24.6 0-12.2-.6-52.6-.8-95.3C255.7 901 222.7 846 212 817c-5.7-14.8-30.6-60.2-52.6-72.3-18-9.8-43.3-33-1-33.7 40.5-.5 69.4 37.3 78.6 52.8 46 77.8 120 55.7 149 42.6 4.7-33 18-55.7 32.6-68.4-113.7-13-233.3-57-233.3-253 0-56 20-101.6 52.7-137.5-5.2-13-22.8-65.2 5-135.7 0 0 43-13.5 141 52.7 40.7-11.4 84.5-17 128-17.2 43.5.2 87.3 6 128.2 17.3C738 198.5 781 212.3 781 212.3 809 283 791 335 786 348c32.8 35.8 52.6 81.4 52.6 137.3 0 196.7-119.7 240-233.8 252.7 18.4 16 34.8 47 34.8 94.7 0 68.5-.7 123.7-.7 140.5 0 13.7 9 29.6 35 24.6C877.2 930 1024 738 1024 512 1024 229.3 794.7 0 512 0z"/></svg>');
}

a[href^="https://twitter.com"]::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path d="M60 16l-6 1 4-5-7 2c-9-10-23 1-19 10C16 24 8 12 8 12s-6 9 4 16l-6-2c0 6 4 10 11 12h-7c4 8 11 8 11 8s-6 5-17 5c33 16 53-14 50-30z"/></svg>');
  vertical-align: -.3ex;
}

a[href^="https://youtu.be"]::before,
a[href^="https://www.youtube.com"]::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 60"><path d="M.82 46.25s.82 5.78 3.34 8.32c3.2 3.34 7.4 3.24 9.26 3.6 6.72.63 28.54.83 28.57.83 0 0 17.6-.03 29.4-.87 1.6-.2 5.2-.22 8.4-3.56 2.5-2.54 3.3-8.32 3.3-8.32s.84-6.8.84-13.58V26.3c0-6.78-.85-13.57-.85-13.57s-.8-5.78-3.3-8.33C76.6 1.06 73 1.04 71.4.85 59.62 0 42 0 42 0c-.03 0-17.67 0-29.42.85-1.65.2-5.23.2-8.42 3.55C1.64 6.95.82 12.73.82 12.73S.12 18.27 0 24.35v10.28c.13 6.07.82 11.62.82 11.62zm32.5-29.44L56 28.7 33.3 40.4V16.8z"/><path fill="#fff" d="M33.3 16.8L56 28.65 33.3 40.38V16.8z"/><path fill="#ccc" d="M55.62 28.84l.37-.2L33.3 16.8l20.22 13.13 2.1-1.1z"/></svg>');
  vertical-align: -.05ex;
}

a:visited::before {
  opacity: .15;
}

/*footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background: #fff;

  font-size: 1.2rem;
  line-height: 2;

  padding: .5rem 1rem;
}*/

::selection {
  color: #fff;
  background: #bada55;
}

::-moz-selection {
  color: #fff;
  background: #bada55;
}
